/* Fonts */
@import url(../fonts/BAHNSCHRIFT.TTF);
@import url(../fonts/B612-Regular.ttf);
@import url(../fonts/B612-Bold.ttf);


body{
    background: #fff;
    color: #272727;
    font-family: 'Bahnschrift Light', sans-serif;
}
/* Font Size */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bahnschrift', sans-serif;
}
h1{
	font-size: 36px;
}
h2{
    font-size: 36px;
    font-weight: 700;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 14px;
}
h6{
	font-size: 12px;
}

a{
	text-decoration: none;
	font-family: 'Bahnschrift', sans-serif;
	letter-spacing: 1px;
}
.navbar-menu{
    width: 57%;
    height: 10%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1030;
    margin-left: 100px;

}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
  }
  
  .nav-menu > li {
    margin-left: 10px;
  }
  
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    border: 1px solid #e7e7e7;
  }
  
  .nav-menu ul li {
    background: #fff;
  }
  
  .nav-menu ul li:first-child {
    border-top: 0;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
  }
  
  .nav-menu ul li a:hover {
    background: #2dc997;
    color: #fff;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  .text-conten-page{
      margin-left: 20%;
  }
.content-1{
    background: #F4F5F9;
    text-align: justify;
    padding: 40px;
    margin-left: -15%;
    margin-top: 3%;
    width: 90%;
}

.line-plan-negocio{
    margin-top: 3%;
    height: 5px;
    width: 60%;
    background-color: #e1e1e1;
    border: none;
}
.line-service{
    height: 5px;
    width: 30%;
    background-color: #e1e1e1;
    border: none;
}
.text-negocio-conten{
    padding: 10px;
    margin: 10px;
    width: 75%;
    margin-left: 15%;
    text-align: justify;
}
.tittle-page{
    text-align: left;
    letter-spacing: 10px;
    margin-top: 20%;
}
.img-conten-page{
    margin-top: 5%;
}
.img-fachada{
width: 100%;  
margin-left: 8%;
margin-top: -29%;
}
.img-logo{
   margin-left: 3%;
}
.icon-fachada{
    text-align: center;
}
/* Negocios */
.tittle-negocio{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* Bbuttons */
.btn-outline-dark{
    color: #000000;
    border-color: #000000;
    border: 2px solid;
    border-radius: 0px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0px;
}
.btn-outline-dark:hover{
    background-color: #000000;
    border-color: #000000;
}
.btn-card-plan{
    margin-top: 60px;
}
/* Footer */
.footer-line{
  height: 1px;
  background-color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.description-footer{
    font-family: 'B612-Bold', sans-serif;
    letter-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-size: 12px
}
.tittle-footer{
    font-family: 'B612', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}
ul.social-network{
    list-style: none;
    display: inline;
    margin-left: 0 !important;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.footer-conten{
    background: #F4F5F9;
    height: 160px;

}
#footer {
    background: #F4F5F9;
    padding: 20px 0;
    color: #000000;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }
/* Card */
.card-plan{
    width: 90%;
    border: 3px solid #000000;
}
.card-body{
    padding: 0;
}
.card-footer {
    padding: auto;
    background-color: #fff;
    border-top: none !important;     
    margin-top: -30px;
    margin-bottom: 20px;
}
.card-md{
    padding-right: 0px;
    padding-left: 0px;
}
.content-plan{
    padding-bottom: 15px;
    padding-left: 10px;
}
.tittle-card-plan{
    text-align: center;
    margin-top: 40px;
    color: #000000;
}
/* Img */
.img-icon-download{
    margin-bottom: 20px;
}
@media (min-width: 576px) {
	.bckp {
		right: 40px;
		bottom: 40px;
	}
}
.about-description{
    background: #F4F5F9;
}
.text-service{
    text-align: center;
    margin: 30px 17% 40px;
}
.description-service{
    margin: 0 25%;
    background: #F4F5F9;
}